$for(posts)$
<article>
    <section class="compact">
        <h1>
            <a href="$url$">$title$</a>
        </h1>
    </section>

    <section class="header compact">
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-sm">
                    <h2>
                        $date$
                    </h2>
                </div>

                <div class="col-sm">
                    <div class="tags">
                        $tags$
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="teaser compact">
        $teaser$
        <button type="button" class="btn btn-light">
            <a href="$url$">更多</a>
        </button>
    </section>
</article>
$endfor$
