$for(posts)$
<article>
    <section class="compact">
        <h1>
            <a href="$url$">$title$</a>
        </h1>
    </section>

    <section class="header compact">
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-sm">
                    <h2>
                        $date$
                    </h2>
                </div>

                <div class="col-sm">
                    <div class="tags">
                        标签：$tags$
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="teaser compact">
        $teaser$
        <a class="btn btn-light" href="$url$" role="button">
            更多
        </a>
    </section>
</article>
$endfor$
